body{
    padding: 2em;
}

.site{
    max-width: 1200px;
    margin: 0 auto;
}

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom:1em ;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
}

.site-title{
    margin-bottom: 0;
}

.site-footer{
    padding-top:1em ;
    border-top: 1px solid #eee;
    margin-top: 2em;
}

.site-footer p{
    font-style: italic;
    opacity: 0.5;
}

.site.blog{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.site.blog .site-header,
.site.blog .site-footer{
    flex: 0 0 100%;
}

.site.blog > main{
    flex: 1 1 500px;
    padding-right: 2em;
    box-sizing: border-box;
}

.site.blog aside{
    flex: 1 1 200px;
}