.main-nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.main-nav li{
    display: block;
    list-style: none outside;
}

.main-nav a{
    text-decoration: none;
    color: orange;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.3em;
}

.main-nav li.current-page > a,
.main-nav a:hover{
    color: #fff;
    background-color: darkorange;
}